.gameCircle {
  width: 100;
  height: 100;
  margin: 5px;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid black;
}
.player0 {
    background-color: white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: rgb(255, 196, 0);
}